name: 构建KernelSU-SFS-ACE3
on:
  workflow_dispatch:
    inputs:
      KSU:
        description: "设置 KernelSU"
        required: true 
        type: boolean
        default: true 
      KSU_VERSION:
        description: "ksu版本"
        required: true 
        type: choice
        options:
          - ksu
          - mksu
          - rksu
          - sksu
      BRANCH_CONFIG:
        description: "分支配置"
        required: false 
        type: choice
        options:
          - tag
          - main
      SUSFS:
        description: "设置 SUSFS"
        required: true 
        type: boolean
        default: true 
      HIDE:
        type: boolean
        description: "是否启用隐藏补丁？"
        required: true 
        default: true 
      VFS:
        type: boolean
        description: "是否启用手动钩子？"
        required: true 
        default: true 
      LSM:
        type: boolean
        description: "是否启用内核层面阻止对关键分区/设备节点的非法写入(LSM)？"
        required: true 
        default: true 
      BUILD_TIME:
        type: string
        description: "自定义内核构建时间 (输入F使用当前时间)"
        required: false 
        default: "Mon Jan 1 12:00:00 UTC 2025"
      KERNEL_NAME:
        description: "自定义内核版本号"
        required: false 
        default: ''

env:
  CPU: sm8550
  FEIL: oneplus_ace3_v
  CPUD: kalama
  ANDROID_VERSION: android13
  KERNEL_VERSION: 5.15
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: 最大化构建空间
      uses: easimon/maximize-build-space@master
      with:
        root-reserve-mb: 16384
        temp-reserve-mb: 2048
        swap-size-mb: 8192
        remove-dotnet: 'true'
        remove-android: 'true'
        remove-haskell: 'true'
        remove-codeql: 'true'
        
    - name: 初始化编译环境
      run: |
        git config --global user.name "yuanqiongyoukong"
        git config --global user.email "413722718@qq.com"
        sudo apt update && sudo apt upgrade -y && sudo apt install -y python3 git curl
        curl -o ~/repo https://storage.googleapis.com/git-repo-downloads/repo
        chmod a+x ~/repo
        sudo mv ~/repo /usr/local/bin/repo
        
    - name: 拉取内核清单
      run: |
        mkdir kernel_workspace && cd kernel_workspace
        repo init -u https://github.com/OnePlusOSS/kernel_manifest.git -b refs/heads/oneplus/${CPU} -m ${FEIL}.xml --depth=1
        repo sync  -c -j$(nproc --all) --no-tags --no-clone-bundle --force-sync
        cd kernel_platform
        rm -f ./common/android/abi_gki_protected_exports_* ./msm-kernel/android/abi_gki_protected_exports_* 2>/dev/null || echo "No protected exports found!"
        sed -i 's/ -dirty//g' ./common/scripts/setlocalversion ./msm-kernel/scripts/setlocalversion ./external/dtc/scripts/setlocalversion
        sed -i '$i res=$(echo "$res" | sed '\''s/-dirty//g'\'')' ./common/scripts/setlocalversion
        if [ -n "${{ github.event.inputs.KERNEL_NAME }}" ]; then
          sed -i '$s|echo "\$res"|echo "-${{ github.event.inputs.KERNEL_NAME }}"|' ./common/scripts/setlocalversion
        fi
        
    - name: 设置 KernelSU
      if: github.event.inputs.KSU == 'true' && github.event.inputs.KSU_VERSION == 'ksu'
      run: |
        cd kernel_workspace/kernel_platform
        if [[ "${{ github.event.inputs.BRANCH_CONFIG }}" == "tag" ]]; then
          echo "BRANCH=-" >> $GITHUB_ENV
        elif [[ "${{ github.event.inputs.BRANCH_CONFIG }}" == "main" ]]; then
          echo "BRANCH=-s main" >> $GITHUB_ENV
        fi
        curl -LSs "https://raw.githubusercontent.com/tiann/KernelSU/main/kernel/setup.sh" | bash ${{ env.BRANCH }}
        cd KernelSU
        KSU_VERSION=$(expr $(/usr/bin/git rev-list --count HEAD) "+" 10200)
        echo "KSUVER=$KSU_VERSION" >> $GITHUB_ENV
        sed -i "s/DKSU_VERSION=16/DKSU_VERSION=${KSU_VERSION}/" kernel/Makefile
        
    - name: 设置 MKSU
      if: github.event.inputs.KSU == 'true' && github.event.inputs.KSU_VERSION == 'mksu'
      run: |
        cd kernel_workspace/kernel_platform
        echo "BRANCH=-" >> $GITHUB_ENV
        curl -LSs "https://raw.githubusercontent.com/5ec1cff/KernelSU/refs/heads/main/kernel/setup.sh" | bash ${{ env.BRANCH }}
        cd KernelSU
        KSU_VERSION=$(expr $(/usr/bin/git rev-list --count HEAD) "+" 10200)
        echo "KSUVER=$KSU_VERSION" >> $GITHUB_ENV
        sed -i "s/DKSU_VERSION=16/DKSU_VERSION=${KSU_VERSION}/" kernel/Makefile
        
    - name: 设置 RKSU
      if: github.event.inputs.KSU == 'true' && github.event.inputs.KSU_VERSION == 'rksu'
      run: |
        cd kernel_workspace/kernel_platform
        if [[ "${{ github.event.inputs.SUSFS }}" == "true" ]]; then
          echo "BRANCH=-s susfs-main" >> $GITHUB_ENV
        else
          echo "BRANCH=-s main" >> $GITHUB_ENV
        fi
        curl -LSs "https://raw.githubusercontent.com/rsuntk/KernelSU/main/kernel/setup.sh" | bash ${{ env.BRANCH }}
        cd KernelSU
        KSU_VERSION=$(expr $(/usr/bin/git rev-list --count HEAD) "+" 10200)
        echo "KSUVER=$KSU_VERSION" >> $GITHUB_ENV
        sed -i "s/DKSU_VERSION=16/DKSU_VERSION=${KSU_VERSION}/" kernel/Makefile

    - name: 设置 SKSU
      if: github.event.inputs.KSU == 'true' && github.event.inputs.KSU_VERSION == 'sksu'
      run: |
        cd kernel_workspace/kernel_platform
        if [[ "${{ github.event.inputs.SUSFS }}" == "true" ]]; then
          echo "BRANCH=-s susfs-main" >> $GITHUB_ENV
        else
          echo "BRANCH=-s main" >> $GITHUB_ENV
        fi
        curl -LSs "https://raw.githubusercontent.com/SukiSU-Ultra/SukiSU-Ultra/main/kernel/setup.sh" | bash ${{ env.BRANCH }}
        cd KernelSU
        KSU_VERSION=$(expr $(/usr/bin/git rev-list --count HEAD) "+" 10200)
        echo "KSUVER=$KSU_VERSION" >> $GITHUB_ENV
        sed -i "s/DKSU_VERSION=16/DKSU_VERSION=${KSU_VERSION}/" kernel/Makefile
        
    - name: 设置 SUSFS
      if: github.event.inputs.SUSFS == 'true'
      run: |
        cd kernel_workspace
        git clone https://gitlab.com/simonpunk/susfs4ksu.git -b gki-${ANDROID_VERSION}-${KERNEL_VERSION} --depth 1
        git clone https://github.com/yuanqiongyoukong/kernelsu_patch.git --depth 1
        cd kernel_platform
        cp ../susfs4ksu/kernel_patches/fs/* ./common/fs/
        cp ../susfs4ksu/kernel_patches/include/linux/* ./common/include/linux/

    - name: KSU 补丁
      if: github.event.inputs.SUSFS == 'true' && github.event.inputs.KSU_VERSION == 'ksu'
      run: |
        cd kernel_workspace/kernel_platform
        cp ../susfs4ksu/kernel_patches/KernelSU/10_enable_susfs_for_ksu.patch ./KernelSU/
        cp ../susfs4ksu/kernel_patches/50_add_susfs_in_gki-${ANDROID_VERSION}-${KERNEL_VERSION}.patch ./common/
        # 应用补丁
        cd ./KernelSU
        patch -p1 --forward < 10_enable_susfs_for_ksu.patch || true
        cd ../common
        patch -p1 < 50_add_susfs_in_gki-${ANDROID_VERSION}-${KERNEL_VERSION}.patch || true
        
    - name: MKSU 补丁
      if: github.event.inputs.SUSFS == 'true' && github.event.inputs.KSU_VERSION == 'mksu'
      run: |
        cd kernel_workspace/kernel_platform
        cp ../susfs4ksu/kernel_patches/KernelSU/10_enable_susfs_for_ksu.patch ./KernelSU/
        cp ../susfs4ksu/kernel_patches/50_add_susfs_in_gki-${ANDROID_VERSION}-${KERNEL_VERSION}.patch ./common/
        cp ../kernelsu_patch/mksu/mksu_susfs.patch ./KernelSU/
        cp ../kernelsu_patch/mksu/fix.patch ./KernelSU/
        cp ../kernelsu_patch/mksu/vfs_fix.patch ./KernelSU/
        # 应用补丁
        cd ./KernelSU
        git revert -m 1 $(git log --grep="remove devpts hook" --pretty=format:"%H") -n
        patch -p1 --forward < 10_enable_susfs_for_ksu.patch || true
        patch -p1 --forward < mksu_susfs.patch || true
        patch -p1 --forward < fix.patch || true
        patch -p1 --forward < vfs_fix.patch || true
        patch -p1 --forward < fix_core_hook.c.patch || true
        cd ../common
        patch -p1 < 50_add_susfs_in_gki-${ANDROID_VERSION}-${KERNEL_VERSION}.patch || true
        
    - name: RKSU 补丁
      if: github.event.inputs.SUSFS == 'true' && github.event.inputs.KSU_VERSION == 'rksu'
      run: |
        cd kernel_workspace/kernel_platform
        cp ../susfs4ksu/kernel_patches/50_add_susfs_in_gki-${ANDROID_VERSION}-${KERNEL_VERSION}.patch ./common/
        # 应用补丁
        cd ./common
        patch -p1 -f < 50_add_susfs_in_gki-${ANDROID_VERSION}-${KERNEL_VERSION}.patch || true

    - name: SKSU 补丁
      if: github.event.inputs.SUSFS == 'true' && github.event.inputs.KSU_VERSION == 'sksu'
      run: |
        cd kernel_workspace/kernel_platform
        cp ../susfs4ksu/kernel_patches/50_add_susfs_in_gki-${ANDROID_VERSION}-${KERNEL_VERSION}.patch ./common/
        # 应用补丁
        cd ./common
        patch -p1 -f < 50_add_susfs_in_gki-${ANDROID_VERSION}-${KERNEL_VERSION}.patch || true
        
    - name: Hide Stuff 补丁
      if: github.event.inputs.SUSFS == 'true' && github.event.inputs.HIDE == 'true'
      run: |
        cd kernel_workspace/kernel_platform/common
        cp ../../kernelsu_patch/69_hide_stuff.patch ./
        patch -p1 -F 3 < 69_hide_stuff.patch
        
    - name: VFS 补丁
      if: github.event.inputs.SUSFS == 'true' && github.event.inputs.VFS == 'true'
      run: |
        cd kernel_workspace/kernel_platform/common
        cp ../../kernelsu_patch/hooks/scope_min_manual_hooks_v1.6.patch ./
        patch -p1 -F 3 < scope_min_manual_hooks_v1.6.patch
        
    - name: LSM 补丁
      if: github.event.inputs.SUSFS == 'true' && github.event.inputs.LSM == 'true'
      run: |
        cd kernel_workspace/kernel_platform/common
        curl -LSs https://raw.githubusercontent.com/vc-teahouse/Baseband-guard/main/setup.sh | bash
        sed -i '/^config LSM$/,/^help$/{ /^[[:space:]]*default/ { /baseband_guard/! s/lockdown/lockdown,baseband_guard/ } }' ./security/Kconfig
        
    - name: 添加 SUSFS 配置设置
      if: github.event.inputs.SUSFS == 'true'
      run: |
        cd kernel_workspace/kernel_platform
        CONFIG_FILE=./common/arch/arm64/configs/gki_defconfig
        # 添加 KSU 配置设置
        echo "CONFIG_KSU=y" >> "$CONFIG_FILE"
        
        # 添加 KPM配置
        if [[ "${{ github.event.inputs.KSU_VERSION }}" == 'sksu' ]]; then
          echo "CONFIG_KPM=y" >> "$CONFIG_FILE"
        fi
        
        # 添加 VFS 配置设置
        if [[ "${{ github.event.inputs.VFS }}" == 'true' ]]; then
          echo "CONFIG_KSU_SUSFS_SUS_SU=n" >> "$CONFIG_FILE"
          echo "CONFIG_KSU_MANUAL_HOOK=y" >> "$CONFIG_FILE"
        else
          echo "CONFIG_KPROBES=y" >>  "$CONFIG_FILE"
          echo "CONFIG_KSU_KPROBES_HOOK=y" >> "$CONFIG_FILE"
          echo "CONFIG_KSU_SUSFS_SUS_SU=y" >> "$CONFIG_FILE"
        fi
        
        # 添加 OVERLAYFS 配置设置
        if [[ "${{ github.event.inputs.KSU_VERSION }}" == 'ksu' ]]; then
          echo "CONFIG_KSU_SUSFS_SUS_OVERLAYFS=y" >> "$CONFIG_FILE"
        else
          echo "CONFIG_KSU_SUSFS_SUS_OVERLAYFS=n" >> "$CONFIG_FILE"
        fi
        
        # 添加 SUSFS 配置设置
        echo "CONFIG_KSU_SUSFS=y" >> "$CONFIG_FILE"
        echo "CONFIG_KSU_SUSFS_HAS_MAGIC_MOUNT=y" >> "$CONFIG_FILE"
        echo "CONFIG_KSU_SUSFS_SUS_PATH=y" >> "$CONFIG_FILE"
        echo "CONFIG_KSU_SUSFS_SUS_MOUNT=y" >> "$CONFIG_FILE"
        echo "CONFIG_KSU_SUSFS_AUTO_ADD_SUS_KSU_DEFAULT_MOUNT=y" >> "$CONFIG_FILE"
        echo "CONFIG_KSU_SUSFS_AUTO_ADD_SUS_BIND_MOUNT=y" >> "$CONFIG_FILE"
        echo "CONFIG_KSU_SUSFS_SUS_KSTAT=y" >> "$CONFIG_FILE"
        echo "CONFIG_KSU_SUSFS_TRY_UMOUNT=y" >> "$CONFIG_FILE"
        echo "CONFIG_KSU_SUSFS_AUTO_ADD_TRY_UMOUNT_FOR_BIND_MOUNT=y" >> "$CONFIG_FILE"
        echo "CONFIG_KSU_SUSFS_SPOOF_UNAME=y" >> "$CONFIG_FILE"
        echo "CONFIG_KSU_SUSFS_ENABLE_LOG=y" >> "$CONFIG_FILE"
        echo "CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y" >> "$CONFIG_FILE"
        echo "CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y" >> "$CONFIG_FILE"
        echo "CONFIG_KSU_SUSFS_OPEN_REDIRECT=y" >> "$CONFIG_FILE"
        
        # 添加 5.10和5.15系内核LTO配置
        sed -i -e 's/^# CONFIG_LTO is not set/CONFIG_LTO=y/' \
          -e 's/^CONFIG_LTO=n/CONFIG_LTO=y/' "$CONFIG_FILE"
        grep -q '^CONFIG_LTO=y' "$CONFIG_FILE" || echo 'CONFIG_LTO=y' >> "$CONFIG_FILE"
        sed -i -e '/^CONFIG_LTO_CLANG_\(THIN\|FULL\|NONE\)=/d' \
          -e '/^# CONFIG_LTO_CLANG_\(FULL\|NONE\) is not set/d' \
          -e 's/^# CONFIG_LTO_CLANG_THIN is not set/CONFIG_LTO_CLANG_THIN=y/' "$CONFIG_FILE"
        grep -q '^CONFIG_LTO_CLANG_THIN=y' "$CONFIG_FILE" || printf 'CONFIG_LTO_CLANG_THIN=y\n' >> "$CONFIG_FILE"
        
        # 添加 LSM配置
        if [ "${{ github.event.inputs.LSM }}" = "true" ]; then
          echo "CONFIG_BBG=y" >> "$CONFIG_FILE"
        fi
        
        # 移除 check_defconfig
        sed -i 's/check_defconfig//' ./common/build.config.gki

    - name: 自定义内核构建时间
      shell: bash
      run: |
        INPUT_TIME="${{ github.event.inputs.BUILD_TIME }}"
        if [[ -n "$INPUT_TIME" && "$INPUT_TIME" != "F" && "$INPUT_TIME" != "f" ]]; then
          DATESTR="$INPUT_TIME"
          echo "Using input BUILD_TIME: $DATESTR"
        else
          DATESTR="$(TZ='UTC' date +'%a %b %d %T %Z %Y')"
          echo "Using UTC time as fallback: $DATESTR"
        fi
        echo "KBUILD_BUILD_TIMESTAMP=${DATESTR}" >> "$GITHUB_ENV"
        echo "KBUILD_BUILD_VERSION=1" >> "$GITHUB_ENV"
        cd kernel_workspace/kernel_platform/
        for f in common/scripts/mkcompile_h msm-kernel/scripts/mkcompile_h; do
          if [ -f "$f" ]; then
            echo "Patching mkcompile_h with BUILD_TIME=$DATESTR"
            if grep -q 'UTS_VERSION=' "$f"; then
              perl -pi -e "s{UTS_VERSION=\"\\\$\\(.*?\\)\"}{UTS_VERSION=\"#1 SMP PREEMPT $DATESTR\"}" "$f"
            else
              perl -0777 -pi -e "s{cat <<EOF}{cat <<EOF\n#undef UTS_VERSION\n#define UTS_VERSION \"#1 SMP PREEMPT $DATESTR\" } unless /UTS_VERSION/" "$f"
            fi
          fi
        done
      
    - name: 编译内核
      run: |
        cd kernel_workspace
        git clone https://github.com/Kernel-SU/AnyKernel3 --depth=1
        rm -rf ./AnyKernel3/.git
        LTO=thin ./kernel_platform/oplus/build/oplus_build_kernel.sh ${CPUD} gki -j$(nproc --all)
        
    - name: 制作 AnyKernel3
      run: |
        # mv kernel_workspace/kernel_platform/out/msm-kernel-${CPUD}-gki/gki_kernel/dist/Image ./AnyKernel3/
          dir1="kernel_workspace/kernel_platform/out/msm-kernel-${{ github.event.inputs.CPUD }}-${{ github.event.inputs.BUILD_METHOD }}/dist/"
          dir2="kernel_workspace/kernel_platform/bazel-out/k8-fastbuild/bin/msm-kernel/${{ github.event.inputs.CPUD }}_gki_kbuild_mixed_tree/"
          dir3="kernel_workspace/kernel_platform/out/msm-${{ github.event.inputs.CPUD }}-${{ github.event.inputs.CPUD }}-${{ github.event.inputs.BUILD_METHOD }}/dist/"
          dir4="kernel_workspace/kernel_platform/out/msm-kernel-${{ github.event.inputs.CPUD }}-${{ github.event.inputs.BUILD_METHOD }}/gki_kernel/common/arch/arm64/boot/"
          dir5="kernel_workspace/kernel_platform/out/msm-${{ github.event.inputs.CPUD }}-${{ github.event.inputs.CPUD }}-${{ github.event.inputs.BUILD_METHOD }}/gki_kernel/common/arch/arm64/boot/"
          target1="./AnyKernel3/"
          target2="./kernel_workspace/kernel"

          # 查找 Image 文件
          if find "$dir1" -name "Image" | grep -q "Image"; then
            image_path="$dir1"Image
          elif find "$dir2" -name "Image" | grep -q "Image"; then
            image_path="$dir2"Image
          elif find "$dir3" -name "Image" | grep -q "Image"; then
            image_path="$dir3"Image
          elif find "$dir4" -name "Image" | grep -q "Image"; then
            image_path="$dir4"Image
          elif find "$dir5" -name "Image" | grep -q "Image"; then
            image_path="$dir5"Image
          else
            image_path=$(find "./kernel_workspace/kernel_platform/common/out/" -name "Image" | head -n 1)
          fi

          # 拷贝 Image
          if [ -n "$image_path" ] && [ -f "$image_path" ]; then
            mkdir -p "$dir1"
            if [ "$(realpath "$image_path")" != "$(realpath "$dir1"Image)" ]; then
              cp "$image_path" "$dir1"
            else
              echo "源文件与目标相同，跳过复制"
            fi
            cp "$dir1"Image ./AnyKernel3/Image
          else
            echo "未找到 Image 文件，构建可能失败"
            exit 1
          fi

          # 可选复制其它新文件（如果存在）
          if [ "${{ github.event.inputs.CPU }}" = "sm8750" ]; then
          for file in dtbo.img system_dlkm.erofs.img vendor_dlkm.img vendor_boot.img; do
            if [ -f "$dir1$file" ]; then
              target_name="$file"
              # 特殊处理 system_dlkm.erofs.img 的目标名
              if [ "$file" = "system_dlkm.erofs.img" ]; then
                target_name="system_dlkm.img"
              fi
              cp "$dir1$file" "./AnyKernel3/$target_name"
            else
              echo "$file 不存在，跳过复制"
            fi
          done
          fi
        clean_feil="${FEIL}"
        clean_feil="${clean_feil%_v}"  # 去掉结尾的 _v（如果有）
        clean_feil="${clean_feil%_u}"  # 去掉结尾的 _u（如果有）
        echo "FEIL=$clean_feil" >> $GITHUB_ENV
        echo "VALUE=${{ github.event.inputs.VFS == 'true' && '_VFS' || '' }}${{ github.event.inputs.LSM == 'true' && '_LSM' || '' }}" >> $GITHUB_ENV
      continue-on-error: true 
        
    - name: 上传 AnyKernel3
      uses: actions/upload-artifact@v4
      with:
        name: AnyKernel3_${{ github.event.inputs.KSU_VERSION }}_${{ env.KSUVER }}_${{ env.FEIL }}${{ env.VALUE }}
        path: kernel_workspace/AnyKernel3/*
      continue-on-error: true 
